* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 50;
}

.wrapper {
  max-width: 900px;
  min-height: 1000px;
  margin: auto;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr .02fr .02fr 2fr;
  padding: .5rem;
}

.wrapper .item {

  /* background-color: rgba(51, 59, 76, 255); */
  border: 1px solid black;

}

.wrapper .item1 {
  background-color: rgba(51, 59, 76, 255);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  display: grid;
  grid-template-rows: 2fr 3fr 2.3fr 2.5fr 2fr;
  color: white;
}

.wrapper .item1 .userprofile {
  justify-content: center;
  border-top-left-radius: .5rem;

  align-items: center;
  display: flex;
  background-color: rgba(51, 59, 76, 255);

}

.wrapper .item1 .userprofile img {

  border-radius: 90rem;
}

.circleouter {
  border: 4px solid #439298;
  border-radius: 90rem;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleinner {
  border: 4px solid #3b6071;
  border-radius: 90rem;
  width: 142px;
  height: 142px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.wrapper .item2 {
  background-color: #449299;
}

.wrapper .item3 {
  background-color: #a3cbcc;
}

.wrapper .item4 {
  display: grid;
  grid-template-rows: .3fr 1fr .5fr;
  padding: 2rem;
  

}

.logo {
  background-color: #ffffff;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 1.5rem;
  color: black;
}

.skill {
  align-items: center;
  display: flex;
  height: 4rem;
  margin: 0.5rem;

}

.skillitem {
  justify-content: center;
  align-items: center;
  display: flex;
  width: fit-content;
  padding: .2rem;
  border-radius: 0.3rem;
  margin-left: 1.5rem;
  background-color: #acb1b6;
  color: black;
  font-size: small;
  margin-top: .5rem;
}

.edudetails {
  margin-left: 2rem;
}

.edudetails .para {
  font-weight: bold;
}

.lang_name {
  font-size: 13px;
  margin: .2rem;
}

.lang_disc {
  font-size: 10px;
}
.Intrests{
  border-bottom-left-radius: 1rem;
}
.Intrest {
  display: flex;
  font-size: smaller;
 padding-left: 35px;
 margin-top: 1rem;
 margin-bottom: 1rem;
}
.Intrest p{
  margin-left: .5rem;
}
.fa-spider,.fa-ship,.fa-code,.fa-earth-oceania{
  color: white;
  font-size: 25px;

}

.details{
  height: 90px;
  background-color: #323a4d;
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  border-radius:  .5rem;
  margin-top: 1.5rem;
  


  
}
.contact{
  display: flex;
 margin-left: 2rem;
  align-items: center;
  color:whitesmoke  ;
  
}
.contact p{
  margin-left: 1rem;
}
.location_linkdin, .phone_email{
  
  display: grid;
  grid-template-rows: 1fr 1fr;
}
