*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
margin: 50;
}
.wrapper{ 
 max-width: 900px;
 min-height: 990px;
 margin: auto;
 background-color: antiquewhite;
 display: grid;
 grid-template-columns: 1fr .03fr .03fr 2fr ;
 padding: .5rem;
}
.wrapper .item{
  
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  
}
.wrapper .item1{
  background-color: rgb(181, 181, 181);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  display: grid;
  grid-template-rows: .9fr 1fr .5fr .5fr .5fr;
}
.wrapper .item2{
  background-color:aquamarine;
}
.wrapper .item3{
  background-color: rgb(133, 221, 192);
}
.wrapper .item4{
  display: grid;
  grid-template-rows: 1fr 1fr .5fr ;
}